.newsCard {
    border: 1px black solid;
    border-radius: 10px;
    margin : 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.infoCard {
    display: flex;
    justify-content: space-between;
    width: 20%;
    /* align-items: center; */
}

.newsLink {
    text-decoration : none;
}